<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078547768047-q5e36p1qklld77r2pb8oo72lcd1hv3ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078547768047-q5e36p1qklld77r2pb8oo72lcd1hv3ed</string>
	<key>API_KEY</key>
	<string>AIzaSyB6GfzsrEnw8g8mo_WHYTrm8L7tsrCaWiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1078547768047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosenvb.FirestorePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-appcustom</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-appcustom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078547768047:ios:7fccdfd6eff2f7dfe5311a</string>
</dict>
</plist>